# for torch and torchvision use this (as of 2024-04-18 and Win)
# pip3 install torch torchvision --index-url https://download.pytorch.org/whl/cu118

pytorch-lightning
jupyter
scikit-learn
matplotlib
metric-learn
pandas
xgboost
ipykernel
ipympl
statsmodels
pyspark
wordcloud
nltk
altair
vega_datasets
seaborn
geopandas
shapely
apache-airflow
lightly
shap
mlflow
